.vs/**
*.dll
.vs/Urchin/v14/.suo
*.suo
*.pdb
*.suo
obj/Debug/Urchin.csproj.FileListAbsolute.txt
*.suo
*.userprefs
Urchin.userprefs
obj/Debug/Urchin.csprojResolveAssemblyReference.cache
*.sdsettings
Sublime Style Settings.sdsettings
*.cache
